#login {
    text-align: center;
    background: #f9f9f9 center top no-repeat;

    height: 1500px;
    padding: 50px 0;
}

#login-form {
    padding: 30px 30px 60px;
    background: #fff;
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
}

.field {
    margin-bottom: 20px;
}